{% extends "private/base.html" %} {% block search_bar %}
<!-- A block element that will not be visible but ensures that the logout component stays at the rightmost end -->
<div class="search-bar"></div>
{% endblock search_bar %} {% block content %}
<div class="main-content-boxes">
  <div class="box">
    <div class="box-section1">
      <div class="box-title">
        <h2>General</h2>
      </div>
    </div>
    <div
      class="general-info-section2"
      hx-get="{% url 'user_update' %}"
      hx-trigger="load"
    >
      <!-- Form loads here -->
    </div>
  </div>
  <div class="box">
    <div class="box-section1">
      <div class="box-title">
        <h2>Change Password</h2>
      </div>
    </div>
    <div
      class="general-info-section2"
      hx-get="{% url 'password_update' %}"
      hx-trigger="load"
    >
      <!-- Form loads here -->
    </div>
  </div>
</div>
{% endblock content %}
