{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>fileHub</title>
</head>

<body>
    <nav>
        <ul class="nav-flex-row">
            <li class="nav-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'register' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}">Sign In</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block main %} {% endblock %}
    </main>
</body>

</html>