{% extends "private/base.html" %} {% load static %} {% block search_bar %}
<div class="search">
  <input
    type="search"
    name="q"
    hx-get="{% url 'search_content' %}"
    hx-trigger="keyup changed delay:500ms"
    hx-target=".files-boxes"
    hx-swap="innerHTML"
    placeholder="Start typing..."
  />
</div>
{% endblock search_bar %} {% block content %}
<div class="d-flex">{% include "private/dashboard/dir_title.html" %}</div>
<div class="files-main-content">
  <div class="files-statistics">
    <h2>Files Statistics</h2>
    <div
      hx-get="{% url 'file_stats' %}"
      hx-trigger="load, contentChange from:body"
    ></div>
    <!-- Upload new file -->
    <input type="file" name="select files" id="file-selector" multiple hidden />
    <button id="upload-btn"><i class="fa-solid fa-angles-up"></i>Upload</button>
    <!-- Create directory -->
    <form
      hx-post="{% url 'create_dir' %}"
      hx-trigger="submit"
      hx-include="#currDir"
    >
      {% csrf_token %}
      <input type="text" name="name" placeholder="New folder" />
      <input type="hidden" name="owner" value="{{ request.user.id }}" />
      <button id="dir-btn" type="submit">Create Folder</button>
    </form>
  </div>
  <div
    class="files-boxes"
    hx-get="{% url 'list_contents' %}"
    hx-trigger="contentChange from:body"
    hx-swap="innerHTML"
    hx-include="#currDir"
  >
    {% include "private/dashboard/dirs_and_files.html" %}
  </div>
  <input type="hidden" id="currDir" name="parent_directory" value="{{ id }}" />
</div>
<div
  class="modal fade"
  id="renameModal"
  tabindex="-1"
  aria-labelledby="renameModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-decoration-none" id="renameModalLabel">
          Rename Folder
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="renameForm"
          hx-post="{% url 'update_dir' id %}"
          hx-trigger="submit"
          hx-target="#dirTitle"
          hx-swap="outerHTML"
        >
          {% csrf_token %}
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="folder name"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" form="renameForm" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block no_search_bar %}
<div class="search">
  <input
    type="search"
    name="q"
    hx-get="{% url 'search_content' %}"
    hx-trigger="keyup changed delay:500ms"
    hx-target=".files-boxes"
    hx-swap="innerHTML"
    placeholder="Go to Hub to Search"
    disabled="disabled"
  />
</div>
{% endblock no_search_bar %}
