{% load static %}
<input type="hidden" id="currDir" name="parent_directory" value="{{ curr_dir }}">
{% for dir in dirs %}
<div class="file-box" hx-get="/dir/children/?parent_directory={{ dir.id }}" hx-trigger="dblclick"
    hx-target=".files-boxes" hx-swap="innerHTML" hx-params="none">
    <i class="fa-solid fa-download"></i>
    <div class="file-box-card-body">
        <h3>D</h3>
        <p>{{ dir.name }}</p>
    </div>
    <div class="file-box-card-footer">
        <span>
            {{ dir.last_modified|date:"F d, Y" }}
        </span>
        <span></span>
    </div>
</div>
{% endfor %}

{% for file in files %}
<div class="file-box">
    <i class="fa-solid fa-download"></i>
    <div class="file-box-card-body">
        <h3>F</h3>
        <p>{{ file.name }}</p>
    </div>
    <div class="file-box-card-footer">
        <span>
            {{ file.uploaded_on|date:"F d, Y" }}
        </span>
        <span>{{ file.size }}</span>
    </div>
</div>
{% endfor %}