{% extends "private/base.html" %} {% load static %} {% block search_bar %}
<!-- A block element that will not be visible but ensures that the logout component stays at the rightmost end -->
<div class="search-bar"></div>
{% endblock search_bar %} {% block content %}
<div class="file-details">
  <div
    class="file-title"
    style="text-align: center; font-size: 2rem; color: #c8caff; margin-top: 2%"
  >
    <p id="fileName">{{ file.name }}</p>
  </div>
  <div
    class="file-detail-container"
    style="margin-top: 10%; display: flex; flex-direction: row"
  >
    <div class="file-thumbnail-wrapper">
      <img
        src="{% static 'images/file.png' %}"
        alt="F"
        class="file-thumbnail"
      />
    </div>
    <div class="file-detail" style="font-size: 1.4rem; flex: 50%">
      <p>Uploaded on: {{ file.uploaded_on }}</p>
      <p>Size: {{ file.get_size }}</p>
      <p>Type: {{ file.type }}</p>
      <div class="file-operations">
        <button
          class="btn btn-primary"
          id="download-btn"
          style="
            background-color: #5b5fbb !important;
            border: none !important;
            margin-right: 2rem;
            margin-top: 1rem;
            font-size: 1.4rem;
          "
        >
          Download
        </button>
        {% if request.user == file.owner %}
        <button
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#renameModal"
          style="
            background-color: #5b5fbb !important;
            border: none !important;
            font-size: 1.4rem;
            margin-top: 1rem;
          "
        >
          Rename
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="renameModal"
  tabindex="-1"
  aria-labelledby="renameModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-decoration-none" id="renameModalLabel">
          Rename File
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="renameForm"
          hx-post="{% url 'update_file' id %}"
          hx-trigger="submit"
          hx-target="#fileName"
          hx-swap="innerHTML"
        >
          {% csrf_token %}
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="file name"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" form="renameForm" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="fileID" value="{{ file.id }}" />
<script src="{% static 'js/fileDownload.js' %}"></script>
{% endblock content %}
