* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  caret-color: #5b5fbb;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-text);
}
:root {
  /* --white-color: #fff; */
  /* --white-color:#13142e; */
  --red-color: red;
  /* --main-color: #f1f5f9; */
  --main-color: #18193b;
  /* --secondary-color: #f6f6f6; */
  --secondary-color: #1b1c41;
  --third-color: #888;
  /* --blue-color: #0075ff; */
  --blue-color: #5b5fbb;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  /* --eee-color: #eee; */
  --eee-color: #353880;
  --ccc-color: #ccc;
  --main-margin: 30px;
  --secondary-margin: 20px;
  --third-margin: 15px;
  --fourth-margin: 10px;
  --fifth-margin: 6px;
  --main-padding: 30px;
  --secondary-padding: 20px;
  --third-padding: 15px;
  --fourth-padding: 10px;
  --fifth-padding: 6px;
  --main-radius: 50px;
  --first-radius: 10px;
  --secondary-radius: 6px;
  --base-color: #13142e;
  /* --base-color:#fff; */
  /* --bg-color:#ccc; */
  --bg-color: #34367d;
  /* --main-text:#000; */
  --main-text: white;
  /* --small-text:#888; */
  --small-text: #ccc;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: var(--base-color);
}
::-webkit-scrollbar-thumb {
  background-color: #5b5fbb;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-color);
}
.toggle {
  min-width: 70px;
  height: 30px;
  background-color: var(--blue-color);
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
  position: relative;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  cursor: pointer;
}

.toggle::before {
  content: "\f00c";
  font-weight: 900;
  font-family: var(--fa-style-family-classic);
  font-size: 1rem;
  color: var(--blue-color);
  position: absolute;
  top: 50%;
  right: 3px;
  width: 24px;
  height: 24px;
  background-color: var(--base-color);
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background-color: var(--bg-text);
}
.left::before {
  content: "\f00d";
  color: var(--bg-text);
  right: 43px;
}
div.loader {
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}
@media (max-width: 767px) {
  div.loader {
    font-size: 1rem;
  }
}
div.loader h1 {
  position: relative;
  color: var(--blue-color);
}
div.loader h1 span {
  position: absolute;
  width: 52px;
  overflow: hidden;
  animation: load 0.9s infinite linear;
  -webkit-animation: load 0.9s infinite linear;
}
@keyframes load {
  0% {
    width: 5px;
  }
}
.page-content {
  min-height: 100vh;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 220px 1fr;
}
.index-page {
  display: none;
}
@media (max-width: 767px) {
  .page-content {
    grid-template-columns: 0 1fr;
  }
}
.sidebar {
  height: 100%;
  background-color: var(--base-color);
  padding: var(--third-padding);
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 10px 0px #ddd; */
  position: relative;
  transition: transform 0.45s;
  -webkit-transition: transform 0.45s;
  -moz-transition: transform 0.45s;
  -ms-transition: transform 0.45s;
  -o-transition: transform 0.45s;
}
@media (max-width: 767px) {
  .sidebar {
    z-index: 1000;
    transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
  }
}
@media (min-width: 768px) {
  .sidebar .xmark {
    display: none;
  }
}
.sidebar .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 var(--secondary-margin);
  position: relative;
}
@media (max-width: 767px) {
  .sidebar .brand {
    margin: 10px;
  }
}
.sidebar .brand i {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.sidebar .brand h3 {
  padding: 0 0 var(--third-padding);
}
@media (max-width: 767px) {
  .sidebar .brand h3 {
    padding-bottom: 4px;
    font-size: 1rem;
  }
}
.sidebar .brand::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 80px;
  height: 2px;
  background-color: var(--main-text);
}
.sidebar .brand::after {
  content: "";
  position: absolute;
  bottom: -4px;
  background-color: var(--main-text);
  width: 12px;
  height: 12px;
  box-shadow: 0px 0px 0px 2.2px var(--base-color);
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
@media (max-width: 767px) {
  .sidebar .brand::before,
  .sidebar .brand::after {
    display: none;
  }
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.92rem;
  padding: var(--fourth-padding);
  margin: var(--fifth-margin);
  text-decoration: none;
  color: var(--main-text);
  border-radius: var(--secondary-radius);
  -webkit-border-radius: var(--secondary-radius);
  -moz-border-radius: var(--secondary-radius);
  -ms-border-radius: var(--secondary-radius);
  -o-border-radius: var(--secondary-radius);
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: var(--secondary-color);
}
.sidebar ul li a i {
  margin-right: var(--fifth-margin);
}
@media (max-width: 767px) {
  .sidebar ul li a i {
    font-size: 1rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-color);
  padding: var(--third-padding);
}
@media (min-width: 768px) {
  .header .bar-item {
    display: none;
  }
}
.header .bar-item {
  cursor: pointer;
  font-size: 1.2rem;
}
.header .search {
  position: relative;
}
.header input[type="search"] {
  padding: var(--fourth-padding) 0px var(--fourth-padding)
    calc(var(--main-padding));
  border: 1px solid var(--small-text);
  outline: none;
  border-radius: var(--first-radius);
  -webkit-border-radius: var(--first-radius);
  -moz-border-radius: var(--first-radius);
  -ms-border-radius: var(--first-radius);
  -o-border-radius: var(--first-radius);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
.header input[type="search"]:focus {
  padding-right: 10px;
}
@media (max-width: 767px) {
  .header input[type="search"]:focus {
    padding-right: 0px;
  }
}
.header .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--small-text);
}
.header .profile {
  display: flex;
  align-items: center;
  gap: var(--fourth-padding);
}
.header .profile img {
  max-width: 100%;
  width: 35px;
}
main {
  overflow: hidden;
}
main .main-content {
  padding: var(--third-padding);
}
main .main-content .title {
  margin-bottom: var(--main-margin);
  position: relative;
}
main .main-content .title h1 {
  padding-bottom: var(--fourth-padding);
}
main .main-content .title::before,
main .main-content .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 3px;
  background-color: var(--bg-color);
}
main .main-content .title::after {
  width: 45px;
  background-color: var(--main-text);
}
.main-content-boxes {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: var(--secondary-padding);
}
@media (max-width: 1180px) {
  .main-content-boxes {
    grid-template-columns: 1fr;
  }
}
.main-content-boxes .box {
  display: flex;
  flex-direction: column;
  /* background-color: var(--base-color); */
  background-color: #13142e;
  padding: var(--third-padding);
  border-radius: var(--first-radius);
  -webkit-border-radius: var(--first-radius);
  -moz-border-radius: var(--first-radius);
  -ms-border-radius: var(--first-radius);
  -o-border-radius: var(--first-radius);
  overflow: hidden;
}
.main-content-boxes .box.first-box {
  padding: 0;
}
.main-content-boxes .box .box-section1 {
  display: flex;
  justify-content: space-between;
  background-color: var(--base-color);
}
.main-content-boxes .box.first-box .box-section1 {
  background-color: var(--eee-color);
  position: relative;
  padding: var(--third-padding);
  margin-bottom: calc(var(--main-margin) + 30px);
}
@media (max-width: 767px) {
  .main-content-boxes .box.first-box .box-section1 {
    padding: var(--main-padding);
  }
}
.main-content-boxes .box:nth-child(2) .box-section1 {
  flex-direction: column;
}
.main-content-boxes .box .box-section1 .box-title {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .main-content-boxes .box .box-section1 .box-title h2 {
    font-size: 1.3rem;
  }
}
.main-content-boxes .box .box-section1 .box-title p {
  color: var(--small-text);
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .main-content-boxes .box.first-box .box-section1 .box-title p {
    text-align: center;
  }
}
.main-content-boxes .box .box-section1 img {
  width: 200px;
}
@media (max-width: 767px) {
  .main-content-boxes .box .box-section1 img:nth-child(1) {
    display: none;
  }
}
.main-content-boxes .box.first-box .box-section1 .avatar {
  width: 60px;
  position: absolute;
  bottom: -28px;
  left: 20px;
  border: 2px solid var(--base-color);
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
@media (max-width: 767px) {
  .main-content-boxes .box.first-box .box-section1 .avatar {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
.main-content-boxes .box form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-content-boxes .box form input[type="text"],
.main-content-boxes .box form input[type="email"],
.main-content-boxes .box form input[type="password"],
.main-content-boxes .box form textarea {
  width: 100%;
  background-color: var(--eee-color);
  padding: var(--fourth-padding);
  margin-top: calc(var(--secondary-margin) - 5px);
  border: 1px solid var(--eee-color);
  border-radius: var(--secondary-radius);
  -webkit-border-radius: var(--secondary-radius);
  -moz-border-radius: var(--secondary-radius);
  -ms-border-radius: var(--secondary-radius);
  -o-border-radius: var(--secondary-radius);
  outline: none;
}
.main-content-boxes .box form textarea {
  width: 100%;
  height: 170px;
  resize: none;
}
.main-content-boxes .box:nth-child(2) form button,
.main-content-boxes .box a {
  margin-top: var(--third-margin);
  border: 1px solid var(--eee-color);
  background-color: var(--blue-color);
  color: var(--base-color);
  padding: var(--fifth-padding) var(--fourth-padding);
  border-radius: var(--secondary-radius);
  -webkit-border-radius: var(--secondary-radius);
  -moz-border-radius: var(--secondary-radius);
  -ms-border-radius: var(--secondary-radius);
  -o-border-radius: var(--secondary-radius);
  cursor: pointer;
}
.main-content-boxes .box a {
  font-size: 0.8rem;
  text-decoration: none;
  align-self: flex-end;
  margin-right: var(--fourth-margin);
  margin-bottom: var(--fourth-margin);
}

.main-content .box .box-section1 {
  margin-bottom: var(--secondary-margin);
}
.main-content .box .settings-box-section2 textarea {
  background-color: var(--base-color);
  height: 140px;
}
.main-content .box .settings-box-section2 .settings-box-website-control {
  display: flex;
  justify-content: space-between;
}
.main-content
  .box
  .settings-box-section2
  .settings-box-website-control
  .settings-box-title {
  line-height: 1.8;
  margin-bottom: var(--fifth-margin);
}
.main-content
  .box
  .settings-box-section2
  .settings-box-website-control
  .settings-box-title
  p:nth-child(2) {
  color: var(--small-text);
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}
.main-content .box .general-info-section2 form {
  align-items: flex-start;
}
.main-content .box .general-info-section2 form label {
  font-size: 0.9rem;
  color: var(--small-text);
}
.main-content .box .general-info-section2 form input {
  background-color: var(--base-color);
  margin-top: var(--fifth-margin);
  margin-bottom: var(--third-margin);
  color: white;
}
.main-content .box .general-info-section2 form input::placeholder {
  font-size: 0.75rem;
}
.main-content .box .general-info-section2 form .email {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: var(--fifth-margin);
  gap: var(--fourth-padding);
}
.main-content .box .general-info-section2 form .email input[type="email"] {
  margin: 0;
  width: 80%;
  background-color: var(--main-color);
  color: #aaa;
  border: 1px solid var(--bg-text);
  cursor: not-allowed;
}
.main-content .box .general-info-section2 form .email a {
  margin: 0;
  align-self: center;
}

.main-content .box .general-info-section2 form .password {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: var(--fifth-margin);
  gap: var(--fourth-padding);
}
.main-content
  .box
  .general-info-section2
  form
  .password
  input[type="password"] {
  margin: 0;
  width: 80%;
}
.main-content .box .general-info-section2 form .password a {
  margin: 0;
  align-self: center;
}
.main-content .main-content-boxes .box > span {
  color: var(--small-text);
  font-size: 0.8rem;
  align-self: flex-end;
}
.files-main-content {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--third-padding);
}
@media (max-width: 767px) {
  .files-main-content {
    flex-wrap: wrap;
  }
}
.files-main-content .files-statistics {
  min-width: 250px;
  min-height: 420px;
  max-height: 420px;
  padding: var(--secondary-padding);
  background-color: var(--base-color);
  border-radius: var(--first-radius);
  -webkit-border-radius: var(--first-radius);
  -moz-border-radius: var(--first-radius);
  -ms-border-radius: var(--first-radius);
  -o-border-radius: var(--first-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .files-main-content .files-statistics {
    width: 100%;
  }
}
.files-main-content .files-statistics .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--fourth-padding);
  border: 1px solid var(--eee-color);
  border-radius: var(--secondary-radius);
  -webkit-border-radius: var(--secondary-radius);
  -moz-border-radius: var(--secondary-radius);
  -ms-border-radius: var(--secondary-radius);
  -o-border-radius: var(--secondary-radius);
  font-size: 0.85rem;
}
.files-main-content .files-statistics .box .file-info {
  display: flex;
  align-items: center;
  gap: var(--fourth-padding);
}
.files-main-content .files-statistics .box .file-info i {
  font-size: 1rem;
  color: var(--blue-color);
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 117 255 / 20%);
}
.files-main-content .files-statistics .box:nth-of-type(2) .file-info i {
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}
.files-main-content .files-statistics .box:nth-of-type(3) .file-info i {
  background-color: rgb(244 67 54 / 20%);
  color: var(--red-color);
}
.files-main-content .files-statistics .box:nth-of-type(4) .file-info i {
  background-color: rgb(245 158 11 / 20%);
  color: var(--orange-color);
}
.files-main-content .files-statistics #upload-btn,
.main-content .box .general-info-section2 form input[type="submit"],
.files-main-content .files-statistics form #dir-btn {
  background-color: var(--blue-color);
  color: var(--base-color);
  font-size: 1rem;
  padding: calc(var(--fourth-padding) - 2px) var(--fourth-padding);
  border-radius: var(--secondary-radius);
  border-width: 0;
  width: 100%;
  -webkit-border-radius: var(--secondary-radius);
  -moz-border-radius: var(--secondary-radius);
  -ms-border-radius: var(--secondary-radius);
  -o-border-radius: var(--secondary-radius);
  align-self: center;
  cursor: pointer;
}
.files-main-content .files-statistics form input[name="name"] {
  background-color: var(--base-color);
  margin-top: var(--fifth-margin);
  margin-bottom: var(--third-margin);
  color: white;
  width: 100%;
  border: 1px solid var(--eee-color);
  font-size: 1rem;
  padding: var(--fourth-padding);
  border-radius: var(--secondary-radius);
  -webkit-border-radius: var(--secondary-radius);
  -moz-border-radius: var(--secondary-radius);
  -ms-border-radius: var(--secondary-radius);
  -o-border-radius: var(--secondary-radius);
  outline: none;
}
.files-main-content .files-statistics #upload-btn i {
  padding-right: 0.7em;
}
.files-main-content .files-statistics #upload-btn:hover i {
  animation: upArrow 0.8s infinite;
  -webkit-animation: upArrow 0.8s infinite linear;
}
@keyframes upArrow {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
  }
  75% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.files-main-content .files-statistics a i {
  margin-right: var(--fourth-margin);
}
.files-main-content .files-statistics .box .file-info div span {
  color: var(--small-text);
  font-size: 0.84rem;
}
.files-main-content .files-statistics .box span {
  color: var(--small-text);
}
.files-main-content .files-boxes {
  display: flex;
  gap: var(--third-padding);
  flex-wrap: wrap;
}
.files-main-content .files-boxes .file-box {
  min-width: 220px;
  flex: 1;
  padding: var(--fourth-padding) var(--third-padding);
  background-color: var(--base-color);
  border-radius: var(--first-radius);
  -webkit-border-radius: var(--first-radius);
  -moz-border-radius: var(--first-radius);
  -ms-border-radius: var(--first-radius);
  -o-border-radius: var(--first-radius);
}

.files-main-content .files-boxes .file-box:hover .file-box-card-body img {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.files-main-content .files-boxes .file-box > i {
  color: var(--small-text);
}
.files-main-content .files-boxes .file-box .file-box-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--fourth-padding);
  padding-bottom: var(--fourth-padding);
  border-bottom: 1px solid var(--eee-color);
}
.files-main-content .files-boxes .file-box .file-box-card-body img {
  width: 65px;
}
.files-main-content .files-boxes .file-box .file-box-card-body p {
  font-size: 0.8rem;
}
.files-main-content .files-boxes .file-box .file-box-card-body span:last-child {
  align-self: flex-start;
  color: var(--small-text);
  font-size: 0.8rem;
}
.files-main-content .files-boxes .file-box .file-box-card-footer {
  color: var(--small-text);
  font-size: 0.8rem;
  padding: var(--fourth-padding) 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content {
  background-color: var(--bg-color);
}
