{% load static %}
{% for dir in dirs %}
<div class="file-box" hx-get="/files/dir/children/?id={{ dir.id }}" hx-trigger="dblclick" hx-target=".files-boxes"
    hx-swap="innerHTML">
    <i class="fa-solid fa-download"></i>
    <div class="file-box-card-body">
        <!-- <img src="{% static 'images/file_types/txt.svg' %}" alt="" /> -->
        <h3>D</h3>
        <p>{{ dir.name }}</p>
        <!-- <span>{{ dir.owner.username }}</span> -->
    </div>
    <div class="file-box-card-footer">
        <span>
            {{ dir.last_modified|date:"F d, Y" }}
        </span>
        <span></span>
    </div>
</div>
{% endfor %}

{% for file in files %}
<div class="file-box">
    <i class="fa-solid fa-download"></i>
    <div class="file-box-card-body">
        <!-- <img src="{% static 'images/file_types/txt.svg' %}" alt="" /> -->
        <h3>F</h3>
        <p>{{ file.name }}</p>
        <!-- <span>{{ file.owner.username }}</span> -->
    </div>
    <div class="file-box-card-footer">
        <span>
            {{ file.uploaded_on|date:"F d, Y" }}
        </span>
        <span>{{ file.size }}</span>
    </div>
</div>
{% endfor %}